@media screen and (max-width: 768px) {

    img {
        max-width: 100%; 
        height: auto;
    }
    
    #home {
        height: 100vh;
        margin-bottom: 1rem;
        background-image: url(/assets/Image/bgcoffee.jpg);
        gap: 0;
        padding: 0;
    }

    #home .title h1 {
        font-size: 30px;
        display: none;
    }

    #home img {
        width: 5rem;
    }

    .nav-bar ul li a {
        color: #000;
        font-size: 20px;
    }

    .dropdown-btn {
        display: none;
    }

    .dropdown-content {
        visibility: visible;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        background-color: #F0EBE3;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    #home .dropdown-content a:hover {
        background-color: none;
    }

    .down, .up {
        display: none;
    }

    .head-nav {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;
    }

    .text-div {
        color: white;
        width: 100%;
        margin: 0;
        display: flex;
        gap: 20px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 40%;
        padding: 0 8px;
    }

    .text-div h1 {
        font-size: 35px;
    }

    .text-div p {
        font-size: 25px;
    }

    #home .head-nav .title {
        background-color: none;
    }

    .slide-in {
        transition: transform 0.3s ease-in;
        transform: translateX(0);
    }   
    
    .slide {
        transform: translateX(101%);
    }

    #home .nav-bar {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;
        width: 75%;
        height: 100vh;
        overflow-x: hidden;
    }

    #home .head-nav .nav-bar ul {
        visibility: hidden;
        gap: 50px;
        align-items: center;
        background-color: #F0EBE3;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 9rem 0 20rem;
        position: fixed;
        z-index: 1;
    }

    #home .nav-bar .icon {
        margin-top: 2rem;
        display: flex;
        color: #EAD8C0;
        width: 1.8rem;
        margin-right: 1.5rem;
        z-index: 2;
    }

    #home .menu-icon {
        visibility: visible;
        width: auto;
    }

    #home .close-icon {
        color: #000;
        position: fixed;
    }

    #story {
        width: 100%;
        padding: 0 30px;
    }
        
    .menu-box {
        width: 90%;
    }

    .story-main {
        display: flex;
        flex-direction: column;
    }

    #story h1 {
        font-size: 30px;
    }

    #story .story-main div p {
        font-size: 18px;
    }

    .story-main div:first-child {
        display: flex;
        flex-direction: column;
    }

    #story .img-sc {
        visibility: visible;
        height: auto;
    }

    #story .img-fs {
        visibility: hidden;
        height: 0;
    }

    #collection {
        max-width: 100%;
        margin: 0 20px;
    }

    #collection h1 {
        font-size: 30px;
    }

    #collection p {
        font-size: 18px;
    }

    .menu {
        padding: 0;
    }

    footer {
        width: 100%;
        margin-top: 3rem;
        padding: 40px 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .desc {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .maps iframe {
        max-width: 100%;
    }

}

@media screen and (min-width: 1024px) {

    #home img {
        display: none;
    }

    #story img {
        max-width: 554px;
    }

    .collection-drink, .collection-food {
        width: 95%;
    }
}