@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Tilt Neon", sans-serif;
    background-color: #000;
    color: #fff;
}

/* Header */

#home {
    height: 105vh;
    background-image: url(/assets/Image/coffee.jpg);
    background-size: cover;
    background-position: center;
    gap: 8rem;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.head-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 13rem;
    align-items: baseline;
}

.title {
    border-radius: 20px;
    font-size: 2rem;
    color: #EAD8C0;
    padding: 0 10px;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 1.4rem;
    
    li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.slide .hr {
    background-color: white;
    border: none;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
}

.slide a:hover, .slide li:hover {
    color: #EAD8C0;
}

.text-div {
    color: white;
    margin-left: 9rem;
}

.text-div h1 {
    font-size: 50px;
}

.text-div p {
    font-size: 30px;
}

.drop-icon {
    display: flex;
    align-items: center;
}

.down {
    display: flex;
}

.up {
   display: none;
}

.dropdown-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-content {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 120px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #A79277;
}

#home .dropdown-content a {
    padding: 10px 5px;
}

#home .dropdown-content a:hover {
    background-color: #000;
}

.icon {
    display: none;
    flex-direction: row;
}

.menu-icon {
    visibility: hidden;
    width: 0;
}

.close-icon {
    visibility: hidden;
    width: 0;
}

/* End Header */

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Story */

#story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 100px 0;
    gap: 3rem;
}

#story h1 {
    font-size: 40px;
}

.story-main {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.story-main img {
    width: 555px;
    border-radius: 20px;
}

.story-main p {
    font-size: 20px;
    line-height: 30px;
}

.story-main a {
    color: #EAD8C0;
    text-decoration: none;
}

.img-sc {
    visibility: hidden;
    height: 0;
}

/* End Story */

/* Collection */

#collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection-drink, .collection-food {
    margin-top: 50px;
    padding-bottom: 30px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272829;
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 14px -1px rgba(255,255,255,0.45);
    -moz-box-shadow: 0px 0px 14px -1px rgba(255,255,255,0.45);
    box-shadow: 0px 0px 14px -1px rgba(255,255,255,0.45);
}

.title-coll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;
    padding: 20px 0;
}

.title-coll ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 20px;
}

.title-coll li {
    padding: 5px 9px;
    background-color: #F1E4C3;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.title-coll li:hover {
    transform: scale(1.2);
}

.title-coll a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.title-coll h1 {
    font-size: 40px;
    margin-bottom: 1.5rem;
}

.title-coll p {
    font-size: 20px;
}
    
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 50px;
}

.collection-food {
    display: none;
}

.collection-drink ul li:first-child, 
.collection-food ul li:last-child {
    background-color: #0C0C0C;

    a {
        color: #fff;
    }
}

section {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 20px 16px;
}
    
.content img {
    border-radius: 15px;
}

.content p {
    font-size: 14px;
    color: #6C727F;
}

hr {
    border-color: #E5EAF0;
    opacity: 0.5;
    color: #20293A;
}

.author {
    padding: 20px 16px 20px 16px;
    font-size: 12px;
    color: #6C727F;
    display: flex;
    justify-content: space-between;
}

.author span:nth-child(1) {
    font-weight: bold;
}

.show {
    transition: transform 0.3s ease;
}

.show:hover {
    transform: scale(0.9);
}

/* End Collection */

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A79277;
    margin-top: 50px;
    padding: 40px 0;
    gap: 40px;
}

.container {
    display: flex;
    gap: 5rem;
    max-width: 1200px;
    padding: 0 20px;
}

.desc {
    display: flex;
    gap: 5rem;
    align-items: first baseline;
}

.visit h2 {
    margin-bottom: 15px;
}

.logo {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}
            
.logo div {
    background-color: #F6F5F2;
    opacity: 0.7;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
        
.logo div:hover {
    opacity: 1;
    transform: scale(1.2);
}
        
.logo div a {
    display: flex;
    align-items: center;
    justify-content: center;
}
        
.logo a img {
    width: 25px;
}

.maps iframe {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    border: 3px solid white;
}

/* End Footer */